/*Para Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/*Para Parágrafos*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Anton', sans-serif; */

body{
    background-image: linear-gradient(to top, #62011d, #2d000a);
    color: #ffffff;
}

h1{
    font-family: 'Anton', sans-serif;
}

h2{
    font-family: 'Anton', sans-serif;
}

li{
    font-family: 'Anton', sans-serif;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
}