/*Para Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/*Para Parágrafos*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Anton', sans-serif; */

/* -----------------------------------------GERAL----------------------------------------- */

/* TITULO */
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    width: 390px;
    margin: 0px auto;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 2px;
}

/* VIDEOS */
h2{
    font-family: 'Anton', sans-serif;
    text-indent: 20px;
}

/* FILMES */
li{
    font-family: 'Anton', sans-serif;
}

/* TODOS OS PARÁGRAFOS */
p{
    font-family: 'Nanum Gothic', sans-serif;
}

/* -----------------------------------------GERAL----------------------------------------- */

/* -----------------------------------------HEADER----------------------------------------- */

body{
    background-image: linear-gradient(to top, #480018, #2F0A00);
    color: #ffffff;
}

header{
    width: 1000px;
    background-color: #681701;
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 3px black;
}

header > img{
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}

header > p{
    text-indent: 30px;
    font-size: 16px;
    display: inline-block;
}

#spaceTitle{
    margin: 0px auto;
    width: 10px;
    height: 10px;
}

#imagemLadoAoTitulo{
    display: inline;
    border-radius: 50%;
    margin: -10px auto;
}

#spaceContentTitle{
    display: block;
    width: 5px;
    margin: 0px auto;
    height: 110px;
}

#juntarParagrafosParaColocarAoLadoDaImagem{
    display: inline-block;
    width: 650px;
    vertical-align: top; /* estudar melhor essa propriedade */
    margin: 5px auto;
    text-indent: 30px;
}

/* -----------------------------------------HEADER----------------------------------------- */

/* -----------------------------------------MAIN----------------------------------------- */

#moviesDivision{
    background-color: #3b0d00;
    width: 900px;
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 3px black;
}

#listaMovies{
    margin: 20px auto;
    padding: 0px;
}

.linkMovies{
    text-decoration: none;
    color: yellow;
    width: 300px;
    height: 469px;
    display: inline-block;
    margin: 20px 70px;
}

.linkMovies:hover{
    text-decoration: none;
    color: white;
}

img.ajusteDeTamanho{
    width: 300px;
    height: 445px;
}

#videosDivision{
    background-color: #5f1919;
    width: 950px;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 3px black;
}

iframe{
    margin: 5px 8px;
}

/* -----------------------------------------MAIN----------------------------------------- */

/* -----------------------------------------FOOTER----------------------------------------- */

footer{
    width: 310px;
    text-align: center;
}

a#linkCriador{
    color: white;
    text-decoration: none;
}

a#linkCriador:hover{
    color: yellow;
    text-decoration: overline;
}

a#linkCriador:active{
    color: aqua;
}

/* -----------------------------------------FOOTER----------------------------------------- */