/*Para Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/*Para Parágrafos*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Anton', sans-serif; */


h1{
    font-family: 'Nanum Gothic', sans-serif;
}

h2{
    font-family: 'Nanum Gothic', sans-serif;
}

li{
    font-family: 'Nanum Gothic', sans-serif;
}

p{
    font-family: 'Anton', sans-serif;
}