/*Para Títulos*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/*Para Parágrafos*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Anton', sans-serif; */

/* -----------------------------------------GERAL----------------------------------------- */

body{
    background-image: linear-gradient(to top, #480018, #2F0A00);
    color: #8f8e8e;
}

h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    width: 390px;
    margin: 0px auto;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 2px;
    font-size: 32px;
}

h2{
    font-family: 'Anton', sans-serif;
    text-indent: 20px;
    font-size: 30px;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
}

img{
    width: 300px;
    height: 445px; /* talvez nao funcionou */
}

/* -----------------------------------------GERAL----------------------------------------- */

/* -----------------------------------------HEADER----------------------------------------- */



/* -----------------------------------------HEADER----------------------------------------- */

/* -----------------------------------------MAIN----------------------------------------- */



/* -----------------------------------------MAIN----------------------------------------- */

/* -----------------------------------------FOOTER----------------------------------------- */

footer{
    margin: 0px auto;
    text-align: right;
}

a#linkBackToMainPage {
    text-decoration: none;
    color: yellow;
    font-size: 18px;
    border-radius: 8px;
    background-color: #681701;
}

a#linkBackToMainPage:hover{
    color: yellow;
    background-color: #111111;
    box-shadow: 0px 0px 3px 0px black;
}

/* -----------------------------------------FOOTER----------------------------------------- */